{% extends 'admin_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/change_password_post">
    <h2 align="center">Reset Password</h2>
  <table >
    <tr>
      <td width="232">Current Password</td>
      <td width="164"><input type="text" name="textfield" id="textfield" class="form-control" required/></td>
    </tr>
    <tr>
      <td>New Password</td>
      <td><input type="password" name="textfield2" id="textfield2" class="form-control" required  /></td>
    </tr>
    <tr>
      <td>Confirm Password</td>
      <td><input type="password" name="textfield2" id="textfield3" class="form-control"  required/></td>
    </tr>
    <tr>
    <td height="34"></td>
      <td><input type="submit" name="button" id="button" value="Reset" class="btn btn-behance" /></td>
     
    </tr>
  </table>
</form>
</body>
{% endblock %}

