{% extends 'admin_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/view_feedback_post">
<h2 align="center">Feedback</h2>
  <table class="table table-borderless ">
    <tr>
      <td>from</td>
      <td><input type="date" name="textfield" id="textfield" class="form-control" required/></td>
      <td>to</td>
      <td><input type="date" name="textfield2" id="textfield2" class="form-control" required/></td>
      <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-dark" /></td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <table class="table table-info">
    <tr>
      <td width="16">#</td>
      <td width="48">date</td>
      <td width="91">userinfo</td>
      <td width="148">feedback</td>
    </tr>
       {% for i in data %}
    <tr>
        <td>{{ loop.index }}&nbsp;</td>
      <td>&nbsp;{{ i .date }}</td>
      <td>{{ i.name }}<br>
          {{ i.phone }}

      </td>
        <td>{{ i.feedback }}</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
