{% extends 'admin_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/view_registeredusers_post">
<h2 align="center">Registered users</h2>
  <table class="table table-borderless">
    <tr>
      <td><input type="text" name="textfield" id="textfield" class="form-control" required/>  </td>      <td><input type="submit" name="button" id="button" value="Search" class="btn btn-dark" /></td>
    </tr>
    </table>
    <p>&nbsp;</p>
    <table class="table table-info">
    <tr>
      <td>#</td>
      <td>NAME</td>
      <td>DOB</td>
      <td>GENDER</td>
      <td>ADDRESS</td>
        <td>PHOTO</td>
        <td>PHONE</td>
        <td>MAIL ID</td>
    </tr>
        {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['name'] }}</td>
      <td>&nbsp;{{ i['dob'] }}</td>
        <td>{{ i['gender'] }}</td>
      <td>{{ i['place'] }}</td>
        <td>{{ i['photo'] }}</td>
        <td>{{ i['phone'] }}</td>
        <td>{{ i['email'] }}</td>


      <td>&nbsp;</td>
    </tr>
        {% endfor %}
  </table>
</form>
</body>
{% endblock %}

