{% extends 'admin_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/send_reply_post">
  <p>
    
  </p>
  <table class="table table-borderless">
      <tr>
          <th>Complaint</th>
      <td></td><td>{{ data['complaint'] }}</td>
      </tr>
    <tr>
      <th>Reply</th>
        <td><input type="hidden" name="textfield" id="textfield" value="{{ data['cid'] }}"/></td>

      <td><textarea name="textarea" id="textarea" required></textarea></td>
    </tr>
    <tr>
      <td><input type="submit" name="button" id="button" value="SEND" class="btn btn-success" /></td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}

